---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/style.css';
---

<BaseLayout title="Thomas Schimdst Müller - Clock">
  <section class="start">
    <nav id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
        <img src="/media-assets/close.png" alt="close menu" />
      </a>
      <div class="align-row">
        <div class="nav-wrapper">
          <a href="/">Work</a>
          <a href="#">MyCV</a>
          <a href="#">Personal</a>
          <a href="#">About</a>
          <a href="/clock">Time?</a>
        </div>
        <div class="decoration-wrapper">
          <img src="/media-assets/deco.png" />
        </div>
      </div>
    </nav>

    <div class="logo" onclick="openNav()">
      <div class="trap" id="trap1"></div>
      <div class="trap" id="trap2"></div>
      <div class="trap" id="trap3"></div>
    </div>

    <div class="container">
      <div class="clock">
        <div id="day">Date</div>
        <div class="clock-wrapper">
          <div id="time">00:00:00</div>
          <div id="midday">XX</div>
        </div>
      </div>
    </div>
  </section>

  <script src="/myscript.js" is:inline></script>
  <script>
    var time = document.getElementById("time");
    var day = document.getElementById("day");
    var midday = document.getElementById("midday");

    var clock = setInterval(function calcTime() {
      var date_now = new Date();
      var hr = date_now.getHours();
      var min = date_now.getMinutes();
      var sec = date_now.getSeconds();
      var middayValue = "AM";
      var days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];

      day.textContent = days[date_now.getDay()];

      middayValue = hr >= 12 ? "PM" : "AM";

      if (hr == 0) {
        hr = 12;
      } else if (hr > 12) {
        hr -= 12;
      }

      hr = hr < 10 ? "0" + hr : hr;
      min = min < 10 ? "0" + min : min;
      sec = sec < 10 ? "0" + sec : sec;

      time.textContent = hr + ":" + min + ":" + sec;
      midday.textContent = middayValue;
    }, 1000);
  </script>
</BaseLayout>
